# Ambientes Virtuais Python
venv/
env/
.env

# Arquivos compilados do Python
__pycache__/
*.pyc

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Dados temporários ou senhas (se houver)
*.log

# Bancos de Dados e Volumes do Docker
influx-data/
grafana-data/